<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        404 Chain
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="//github.io/jo_geek" target="_blank">Explore</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stat</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Resource</a>
      <a href="https://codepen.io/jo_Geek/" target="_blank">Create</a>
      <button styleClass="p-button-sm" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text"></button>
      <button styleClass="p-button-sm" pButton pRipple type="button" icon="pi pi-id-card" class="p-button-rounded p-button-text"></button>
    </div>
  </div>
