<navbar></navbar>
<div style="padding-top: 50px;">
  <router-outlet></router-outlet>
</div>
<app-scroll-top></app-scroll-top>
<footer class="footer" id="footer">

  <span class="col">
    <h3 class="col-title">Info</h3>
    <nav class="col-list">
      <ul class="no-padding">
        <li><a href="#">Formats</a></li>
        <li><a href="#">Compression</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </nav>
  </span>

  <span class="col">
    <h3 class="col-title">Resources</h3>
    <nav class="col-list">
      <ul class="no-padding">
        <li><a href="#">Developer API</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </span>

  <span class="col">
    <h3 class="col-title">Company</h3>
    <nav class="col-list">
      <ul class="no-padding">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </nav>
  </span>

  <span class="col">
    <div class="subscribe-form-holder">
      <h3 class="form-title">Subscribe to our email newsletter</h3>
      <form action="#" onsubmit="return false" class="subscribe-form">
        <input type="email" name="email" id="email" class="email subscribe-input" autocomplete="off"
          placeholder="Your email">
        <button type="submit" class="subscribe-btn">Subscribe</button>
      </form>
    </div>
    <div class="social-media">
      <h3 class="social-col-title">Follow us</h3>
      <ul class="social-media-list no-padding">
        <li>
          <a href="#" class="facebook">
            <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
          </a>
        </li>
        <li><a href="#" class="twitter">
            <button pButton pRipple type="button" icon="pi pi-instagram"
              class="p-button-rounded p-button-text"></button>
          </a></li>
        <li><a href="#" class="instagram">
            <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
          </a></li>
      </ul>
    </div>
  </span>

</footer>
