.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.scroll_top_button {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #6366F1 !important;
}

.scroll_top_button:hover {
    cursor: pointer;
}